---

---

<nav class='mt-4 text-xl flex gap-2 max-w-5xl mx-auto'>
    <p class='font-bold'>Happy</p>
    <ul class='flex gap-4 ml-auto'>
        <li>
            <a
                class='hover:border-b-2 hover:border-black border-b-transparent'
                href='/personal_site/about'>About</a
            >
        </li>
        <li>
            <a
                class='hover:border-b-2 hover:border-black border-b-transparent'
                href='/personal_site/'>Blogs</a
            >
        </li>
    </ul>
</nav>
