---

---

<nav class="mt-2 text-xl flex gap-2 max-w-5xl mx-auto">
    <p class="font-bold">Happy</p>
    <ul class="flex gap-4 ml-auto">
        <li><a href="/about">About</a></li>
        <li><a href="/">Blogs</a></li>
    </ul>
</nav>
